In [4]:
import pandas as pd
import numpy as np
import yfinance as yf
from yfinance import EquityQuery

from datetime import datetime
from dateutil.relativedelta import relativedelta

#try pandas datareader?
#use yf.pdr_override() if opt in for datareader

In [5]:
# dat = yf.Ticker("2YY=F")
# dat.info

In [8]:
#Here we first create a filter with EquityQuery and then use it in the yf.screen() function
def get_tickers_stocks(markets:list, min_dayvolume, exchanges, n):

    markets = ['region'] + markets
    exchanges = ['exchange'] + exchanges
    
    q = EquityQuery('and', [EquityQuery('is-in', markets),
                  EquityQuery('is-in', exchanges),
                  EquityQuery('gt', ['dayvolume', min_dayvolume])
    ])


    response = yf.screen(q, sortField = 'lastclosemarketcap.lasttwelvemonths', sortAsc = False, size=n) #select top 100 companies by market cap


    selected_stocks = {}
    ticker_list = []
    for stock in response['quotes']:
        ticker = stock['symbol']
        ticker_list.append(stock['symbol'])
        selected_stocks[ticker] = {} #initialize the new sub dictionary

        selected_stocks[ticker]['name'] = stock['shortName']
        selected_stocks[ticker]['type'] = stock['quoteType']
        selected_stocks[ticker]['exchange'] = stock['fullExchangeName']

    return selected_stocks, ticker_list








def get_close_prices(ticker_list, period = 2, start = '2022-01-01'):
    
    date_obj = datetime.strptime(start, '%Y-%m-%d')
    end = date_obj + relativedelta(years=period)
    enddate = end.strftime('%Y-%m-%d')




    df = yf.download(ticker_list, start=start, end=enddate)
    df_close = df['Close']

    return df_close

In [ ]:
#US stocks
exchanges = ['NMS', 'NYQ', 'NGM']
countries = ['us']

selected_stocks_dict, ticker_list = get_tickers_stocks(countries, 5000000, exchanges, 100)

df_us = get_close_prices(ticker_list, period = 2)
df_us

[*********************100%***********************]  100 of 100 completed

2 Failed downloads:
['CORZ', 'NBIS']: YFPricesMissingError('possibly delisted; no price data found  (1d 2022-01-01 -> 2024-01-01) (Yahoo error = "Data doesn\'t exist for startDate = 1641013200, endDate = 1704085200")')

Ticker,AAL,AAPL,ABEV,ACHR,ADT,AG,AGNC,AMCR,AMD,AMZN,...,TSLA,UAA,UBER,UMC,VALE,VOD,VRN,VRT,VZ,WBD
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,18.750000,178.879913,2.427702,6.17,7.784989,10.816319,9.710372,10.207475,150.240005,170.404495,...,399.926666,21.240000,43.950001,9.596950,11.014697,11.988065,5.041243,24.308395,42.666954,25.330000
2022-01-04,19.020000,176.609634,2.418776,5.99,7.988398,10.855938,9.779506,10.370724,144.419998,167.522003,...,383.196655,21.480000,44.419998,9.489766,10.807324,12.213229,5.068057,23.849747,43.504997,26.750000
2022-01-05,18.680000,171.911865,2.347373,5.43,7.988398,10.529071,9.528104,10.387908,136.149994,164.356995,...,362.706665,20.709999,43.240002,9.184710,10.895060,12.011359,5.220010,22.772915,43.952496,26.450001
2022-01-06,18.570000,169.042084,2.320597,5.04,7.285714,10.162582,9.553244,10.301989,136.229996,163.253998,...,354.899994,20.830000,42.029999,9.489766,11.174216,12.073472,5.363024,23.331270,43.740944,25.719999
2022-01-07,19.280001,169.209137,2.311672,4.64,7.294960,10.222014,9.616096,10.413687,132.000000,162.554001,...,342.320007,19.850000,41.509998,9.085772,11.812286,12.290872,5.461345,22.483767,44.663197,30.059999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,14.310000,192.444580,2.783581,6.45,6.408214,6.240316,8.174921,9.094412,139.600006,153.419998,...,252.539993,8.970000,61.709999,7.549235,14.396805,8.076621,6.774658,48.700855,34.535919,11.270000
2023-12-26,14.110000,191.897873,2.803393,6.46,6.465945,6.349970,8.273513,9.094412,143.410004,153.410004,...,256.609985,8.820000,61.980000,7.776565,14.570592,8.122879,6.948367,48.910519,34.526711,11.500000
2023-12-27,13.990000,191.997269,2.813299,6.36,6.542921,6.399812,8.322808,9.131993,146.070007,153.339996,...,261.440002,8.840000,63.279999,8.202807,14.643764,8.085873,6.842212,48.850616,34.370106,11.490000
2023-12-28,13.980000,192.424713,2.793487,6.24,6.581409,6.170536,8.364382,9.122598,148.759995,153.380005,...,253.179993,8.950000,63.139999,8.060726,14.534005,8.067370,6.716755,48.880558,34.535919,11.690000
2023-12-29,13.740000,191.380951,2.773675,6.14,6.562165,6.130661,8.156519,9.056832,147.410004,151.940002,...,248.479996,8.790000,61.570000,8.013366,14.506565,8.048866,6.687803,47.952068,34.729374,11.380000

In [10]:
#EU stocks
exchanges = ['PAR', 'FRA', 'LSE', 'AMS']
countries = ['de', 'nl', 'gb', 'fr'] #REMOVE COUNTRIES FROM THE FILTER AND LEAVE ONLY EXCHANGES?

selected_stocks_dict, ticker_list = get_tickers_stocks(countries, 5000000, exchanges, 100)

df_eu = get_close_prices(ticker_list, period = 2)
df_eu

[*********************100%***********************]  100 of 100 completed

Ticker,0FIW.L,0G3T.L,0LNT.L,0RK9.L,80M.L,88E.L,ACA.PA,ALBA.L,ALNRG.PA,ALTD.PA,...,UKOG.L,UKW.L,UOG.L,UPL.L,VAST.L,VOD.L,VOX.L,WBI.L,WG.L,WHI.L
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,NaN,NaN,NaN,NaN,NaN,NaN,9.838484,NaN,2.9000,190000.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04,NaN,NaN,7.057282,NaN,9.440,1.6032,10.071740,0.145,3.0000,190000.0000,...,1.03,142.705673,2.850,0.275,11.2499,115.199303,NaN,4.400,201.500000,48.50
2022-01-05,44.06863,57.755192,7.087255,NaN,9.340,1.6824,10.172150,0.145,3.2300,200000.0000,...,1.03,142.106934,2.900,0.275,10.7999,114.180374,NaN,4.400,203.100006,47.50
2022-01-06,NaN,NaN,6.997788,NaN,9.380,1.7913,10.289550,0.135,3.5500,190000.0000,...,1.03,140.709793,2.800,0.275,9.5999,113.860718,NaN,4.400,206.699997,46.50
2022-01-07,NaN,NaN,7.043746,NaN,9.190,1.7260,10.393047,0.140,3.4400,190000.0000,...,1.05,141.308578,2.825,0.275,10.5599,114.480057,NaN,4.300,206.500000,46.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-21,NaN,57.933231,16.365858,NaN,0.562,0.2450,11.953912,0.103,0.0087,0.3220,...,0.25,148.949234,0.550,4.000,0.6179,68.981728,0.35,0.925,168.500000,3.50
2023-12-22,NaN,58.696934,16.494688,NaN,0.600,0.2400,12.004350,0.100,0.0097,0.3252,...,0.27,146.751450,0.600,4.000,0.5699,69.141693,0.35,0.940,169.500000,3.50
2023-12-27,NaN,59.526684,16.643051,NaN,0.575,0.2400,12.062260,0.100,0.0110,0.3250,...,0.28,150.447723,0.600,4.050,0.5699,68.541847,0.35,0.975,172.300003,3.75
2023-12-28,NaN,59.928532,16.985270,NaN,0.575,0.2400,12.009953,0.100,0.0100,0.3340,...,0.28,151.546600,0.600,4.050,0.5579,68.291908,0.35,0.950,172.399994,5.50
2023-12-29,NaN,60.176456,17.149195,NaN,0.625,0.2400,12.004350,0.100,0.0101,0.3270,...,0.28,151.346802,0.600,4.050,0.6779,68.541847,0.35,0.950,172.100006,5.75

In [11]:
#ASIA stocks
exchanges = ['SHH', 'JPX', 'HKG']
countries = ['hk', 'cn', 'jp'] #REMOVE COUNTRIES FROM THE FILTER AND LEAVE ONLY EXCHANGES?

selected_stocks_dict, ticker_list = get_tickers_stocks(countries, 5000000, exchanges, 100)

df_as = get_close_prices(ticker_list, period = 2)
df_as

[*********************100%***********************]  100 of 100 completed

1 Failed download:
['0300.HK']: YFPricesMissingError('possibly delisted; no price data found  (1d 2022-01-01 -> 2024-01-01) (Yahoo error = "Data doesn\'t exist for startDate = 1640966400, endDate = 1704038400")')

Ticker,0300.HK,0386.HK,0728.HK,0857.HK,0883.HK,0939.HK,0941.HK,0998.HK,1088.HK,1211.HK,...,8801.T,9432.T,9433.T,9434.T,9501.T,9502.T,9503.T,9633.HK,9831.T,9984.T
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,NaN,2.748083,2.033284,2.703418,5.727697,4.119827,37.485973,2.511019,13.702967,259.848572,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.104031,NaN,NaN
2022-01-04,NaN,2.770426,2.127491,2.687881,5.805577,4.172840,38.202263,2.525833,13.541410,267.295197,...,715.404907,114.423347,1448.394775,132.277786,299.000000,1084.780029,975.410522,45.203068,350.369659,5353.019531
2022-01-05,NaN,2.859794,2.158893,2.726723,5.947176,4.248572,39.475674,2.555461,13.805775,244.955292,...,733.324951,117.039345,1477.867920,133.004837,298.000000,1087.445435,971.834412,44.346584,351.250000,5292.478516
2022-01-06,NaN,2.852347,2.135341,2.711186,6.046296,4.203133,39.117527,2.555461,13.629532,243.975479,...,720.657349,118.365265,1479.973145,133.322906,297.000000,1076.784302,986.139160,44.489334,345.968048,5245.608398
2022-01-07,NaN,2.911926,2.174594,2.882092,6.081696,4.248572,39.555267,2.592497,13.526724,242.211792,...,712.315308,118.078590,1483.762451,132.277786,294.000000,1075.007202,982.562988,44.203842,347.728699,5359.854980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1105.611328,163.100433,2050.339355,165.061707,728.099976,1695.454224,1751.753052,NaN,404.436127,6052.474609
2023-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1106.582886,162.624374,2056.826416,165.541382,733.099976,1687.369141,1751.753052,NaN,404.436127,6052.474609
2023-12-27,NaN,3.743047,3.366679,4.755695,11.940440,4.076901,59.342052,3.249243,24.649792,202.134506,...,1121.156006,163.386078,2073.507080,166.932510,735.000000,1722.086792,1789.228882,44.143459,409.916748,6308.506348
2023-12-28,NaN,3.780198,3.432508,4.783506,12.089462,4.139485,59.996735,3.285146,24.696655,210.409027,...,1108.202148,163.671707,2072.580566,167.891876,736.700012,1711.624023,1779.619751,44.388973,412.373627,6275.758301
2023-12-29,NaN,3.798774,3.517145,4.783506,12.108090,4.157366,60.604652,3.303098,25.071556,211.197067,...,1119.860474,164.052567,2078.604004,168.803284,738.500000,1732.549561,1798.838013,44.339870,414.263519,6244.995117